@import './common.css';

#card-cvv-div {
  position: relative;
  display: inline-block;
}

#card-cvv-div #card-cvv {
  letter-spacing: 3px;
  color: transparent;
}

#card-cvv-div #card-cvv-masking-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-color: transparent;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: black;
  white-space: nowrap;
}
