:root {
  /* Prient theme */
  --main: #67a7cc;
  --primary: #acc9de;
  --secondary: #e1edf5;
  --near-white: #f5f8fa;
  --main-white: #ffffff;
  --main-black: #000000;
  --main-green: #0c6124;
  --dark-green: #073e17;
  --dark-green2: rgba(4, 44, 16);
  --background: linear-gradient(
    90deg,
    var(--main) 0%,
    var(--primary) 60%,
    var(--secondary) 100%
      /* var(--main-white) 0%,
    var(--near-white) 80%,
    var(--secondary) 100% */
  );
  --background-dark: var(--dark-green2);
  --card-color: var(--secondary);
  --card-color-dark: rgba(255, 255, 255, 0.8);
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--main-black);
}

* {
  box-sizing: border-box;
}

/* nav bar ヘッダー*/
.navbar-brand {
  font-size: 28px;
  font-weight: 500;
}

#header-nav-bar {
  background-color: var(--near-white);
  height: 80px;
}

#header-nav-bar li a {
  font-size: 16px;
}

#header-nav-bar li a:hover {
  color: var(--primary);
}

/* 基本的なFormデザイン */
.basic-form {
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .basic-form {
    width: 100%;
  }
}

/* マイページ画面のリンクデザイン */
#link-to-card-form {
  color: var(--main);
}

/* カードを表示するためのデザイン */
.plant-card-div {
  background-color: var(--card-color);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

.plant-card-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* フッター */
.footer {
  background-color: var(--near-white);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.footer-icons a {
  font-size: 24px;
  color: var(--main-black);
}

/* ここからダークテーマ用設定 */
@media (prefers-color-scheme: dark) {
  body,
  html {
    background: var(--background-dark);
    color: var(--main-white);
    min-height: 100%;
  }

  #header-nav-bar {
    background-color: var(--dark-green);
    color: var(--main-white);
  }

  #header-nav-bar .navbar-brand {
    color: var(--main-white);
  }

  #header-nav-bar .nav-link {
    color: var(--main-white);
  }

  #cards-container {
    min-height: 100%;
    min-width: 100%;
  }

  .plant-card-div {
    background: var(--card-color-dark);
  }

  #link-to-card-form {
    color: var(--main-white);
  }
}
