:root {
  /* Prient theme */
  --main: #67a7cc;
  --primary: #acc9de;
  --secondary: #e1edf5;
  --near-white: #f5f8fa;
  --main-white: #ffffff;
  --main-black: #000000;
  --background: linear-gradient(
    90deg,
    var(--main-white) 0%,
    var(--near-white) 80%,
    var(--secondary) 100%
  );
  --background-dark: linear-gradient(
    90deg,
    var(--main) 0%,
    var(--primary) 60%,
    var(--secondary) 100%
  );
  --card-color: var(--secondary);
  --card-color-dark: rgba(255, 255, 255, 0.8); 
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--main-black);
}

* {
  box-sizing: border-box;
}

/* nav bar ヘッダー*/
.navbar-brand {
  font-size: 28px;
  font-weight: 500;
}

#header-nav-bar {
  background-color: var(--near-white);
  height: 80px;
}

#header-nav-bar li a {
  font-size: 16px;
}

#header-nav-bar li a:hover {
  background-color: var(--secondary);
}

/* 基本的なFormデザイン */
.basic-form {
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .basic-form {
    width: 100%;
  }
}

/* カードを表示するためのデザイン */
.plant-card-div {
  background-color: var(--card-color);
}

/* フッター */
.footer {
  background-color: var(--near-white);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.footer-icons a {
  font-size: 24px;
  color: var(--main-black);
}

/* ここからダークテーマ用設定 */
@media (prefers-color-scheme: dark) {
  body,
  html {
    background: var(--background-dark);
    color: var(--main-white);
  }

  .plant-card-div {
    background: var(--card-color-dark);
  }
}
