:root { /* Prient theme */
  --main: #67A7CC;
  --primary: #ACC9DE;
  --secondary: #E1EDF5;
  --near-white: #F5F8FA;
  --main-white: #FFFFFF;
  --main-black: #000000;
}

#product-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#product-name {
    font-size: 32px;
    font-weight: bold;
}

#liked-icon {
    font-size: 20px;
}

.fa-twitter,
.fa-facebook,
.fa-line {
}

.sns-share-link-button a {
    font-size: 24px;
    color: var(--main-black);
}

#product-price {
    font-size: 32px;
}

#total-price {
    font-size: 24px;
}
